:root {
  --bg: #0f1115;
  --panel: #141824;
  --text: #e9ecf3;
  --muted: #9aa3b2;
  --accent: #4c1d95;
  --accent-2: #c4b5fd;
  --bg-color: #151f28;
  --text-color: #333;
  --linear-gradient: linear-gradient(135deg, #46178f, #2b0a5c);
  --btn-notselected-bg: rgba(255, 255, 255, 0.2);
  --btn-notselected-text: rgba(255, 255, 255, 0.2);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: var(--linear-gradient);
}
main.app-main-content {
  height: 100dvh;
}
