* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(1200px 800px at 80% 0%, #1a2030, #0f1115 60%);
  color: var(--text);
  position: relative;
  z-index: -2;
} */
a {
  text-decoration: none;
  color: white;
}
button {
  all: unset;
  color: white;
}
header {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  backdrop-filter: blur(20px);
  position: absolute;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
nav.main-nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}
.view-as {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hidden {
  display: none;
}
.login_form {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  top: 0;
  left: 0;
}
